* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}

.top-section1 {
    background: linear-gradient(0deg, rgba(34, 26, 31, 0.3), rgba(53, 44, 49, 0.3)), url('images/donation3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;

}

.first-section-banner {
    text-align: center;
    color: white;

}

.donate-button {
    border: 2px solid tomato;
    background-color: tomato;
    text-decoration: none;
    color: #fff;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;



}


.first-section-banner {}

.section-hedding {
    padding-top: 200px;
    color: white;
    font-size: 60px;
}

/* first section end */

.second-section {
    text-align: center;
    padding-top: 90px;




}

.second-section h2 {
    font-size: 40px;
    color: black;


}

.ammount h4 {
    padding: 20px 30px;
    border: 1px solid rgb(199, 182, 182);
    margin: 10px;
    font-size: 20px;


}

.light-ammount h4 {
    border: 1px solid tomato;
    margin: 10px;
    padding: 20px 30px;
    color: tomato;
    font-size: 20px;
}


.donnation-ammount {
    display: flex;
    margin: 30px;

}

.card3 {
    display: flex;
    margin: 80px;



}

.card3 div {
    border: 1px solid wheat;

    margin: 20px;
    padding: 80px 30px;

}

.first-card {
    background-color: #4f9da663;
}

.sceond-card {
    background-color: #ff59595e;
}

.third-card {
    background-color: #ee8d8d5e;
}

.common-imgh {

    width: 50px;
    height: 50px;
}

.donat-plan {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;

}

.donat-plan-p {
    text-align: center;
    margin-top: 30px;

}

/* 2section */

.their-lives {
    display: flex;
}

.their-lives-img {
    width: 80%;
    margin: 80px;
}

.their-lives-child {
    width: 70%;
    padding: 80px;
}

.their-lives-child h2 {
    font-size: 50px;
}

.Get-My-Updates {
    text-align: center;

}

.Get-My-Updates h2 {
    font-size: 40px;

}

.Get-My-Updates input {
    padding: 10px 30px;

}

.Get-My-Updates button {
    padding: 10px 30px;

}

.Get-My-Updates form {


    width: 600px;
    height: 200px;
    background-color: antiquewhite;
}

.form-input {
    text-align: center;
    padding-top: 40px;
}

footer {
    background-color: black;
    color: rgb(219, 52, 52);
    height: 100px;
    text-align: center;
    padding-top: 70px;

}

footer p {
    color: beige;
}